body {
    background-color: rgba(63,94,251,0.7516048655790442);
}

#app-area {
    background: radial-gradient(circle, rgba(63,94,251,0.7516048655790442) 0%, rgba(70,248,252,0.9700922605370274) 100%); 
    width: 50%;
    height: 700px;
    text-align: center;
    
}
h1 {
    padding-top: 20px;
    letter-spacing: 6px;
}

 #macros-input-div {
    background: radial-gradient(circle, rgba(230,174,238,0.7151902997527135) 0%, rgba(97,147,203,0.9028653697807247) 100%);
    float: left;
    padding: 10px 20px 10px 20px;
    margin-left: 5%;
    line-height: 25px;
    border-radius: 15%;
    height: 250px;
} 

#chart {
    width: 40%;
    padding: 10px 20px 10px 20px;
    display: inline-block;   
}
 



#macros-total-div {

    background: radial-gradient(circle, rgba(230,174,238,0.7151902997527135) 0%, rgba(97,147,203,0.9028653697807247) 100%);
    float: right;
    padding: 10px 20px 10px 20px;
    margin-right: 5%;
    border-radius: 15%;
}

#total-and-remaining {
    padding-left: 200px;
}
/*button styling*/

.input-btn {
    width: 20px;
    background-color: antiquewhite;
}

.round-btn {
font-weight: 600;
border-radius: 50%;
height: 40px;
width: 50px;
background: radial-gradient(circle, rgba(84,106,223,0.6563667703409488) 0%, rgba(70,248,252,0.720792540649072) 100%);
}

.symbols {
    font-size: large;
}