body {
    background-color: #D9CBD5;   
}

#app-area {
    background-color: #31D6D7 ; 
    width: 66%;
    height: 450px;
    text-align: center;
    
}

 #macros-input-div {
    background-color: #F351BF ;
    float: left;
} 

#chart {
    width: 50%;
    padding: 20px 0px 10px 0px;
    display: inline-block;   
}

#macros-total-div {

    background-color: #F351BF ;
    float: right;
}

#total-and-remaining {
    padding-left: 200px;
}
